<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">

        <!-- Para mandar valores al input del algun componente, aremos referencia a su nombre o propiedad
        escribiendo esta propiedad con corchetes '[data]' y se le asignara el valor que sera enviado al componente
        'personajes' -->
        <app-personajes 
            [data]="personajes"
        ></app-personajes>
    </div>
    <div class="col">
        <app-agregar 
            [dataP]="personajes"
            [dataNP]="nuevo"></app-agregar>
    </div>
</div>